
	.class
	{
		
	}
	
	
	.page-control
	{
		pre
		{
			border: 0;
			margin: 0;
			background: none;
			.subcode
			{
				border:1px solid #F0F0F0;
				overflow: auto;
				pre
				{
					white-space: nowrap;
				}
			}
		}
	}
	
	.method,
	.property
	{
		
		cursor: pointer;
		
		border-left-width: 4px;
		border-top-width: 1px;
		
		border-left-style: solid;
		border-top-style: solid;
		 
		padding: 8px 8px 8px 24px;
		margin: 1px 0 0 -16px;
		
		code
		{
			display: block;
			margin: 5px 0;
			white-space: pre;
		}
		.desc
		{
			b
			{
				font-size: 10px;
				font-weight: normal;
			}
		}
		h4
		{
			font-size: 12pt;
			padding: 0;
			margin: 0 0 6px 0;
			font-family: 'Segoe UI Semibold', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
			& > *
			{
				display: inline;
			}
		}
		.toggle
		{
			display: none;
		}
		&.inherited
		{
			opacity: 0.6;
		}
		&.deprecated
		{
			h4 *,
			h4
			{
				text-decoration: line-through;
			}
		}
		.see
		{
			margin-top: 10px;
			margin-left: 40px;
			font-size: 11px !important;
			color: gray !important;
			font-style: italic;
			& a
			{
				font-size: 11px !important;
				color: gray !important;
				&:hover
				{
					text-decoration: underline;
				}
			}
		}
		.params
		{
			margin-left: 60px;
			h5
			{
				margin-bottom: 3px;
			}
			div
			{
				font-size: 80%;
			}
		}
		&.access_private,
		&.access_magic,
		&.access_protected
		{
			display: none;
		}
	}
	
	.page-sidebar
	{
		.item_method,
		.item_property
		{
			&.access_private,
			&.access_magic,
			&.access_protected
			{
				display: none;
			}
		}
	}
	
	noscript,
	.error
	{
		display: block;
		background: rgb(255, 226, 226);
		padding: 5px;
		color: rgb(192, 0, 0);
	}
	
	.access_select
	{
		padding: 0;
		margin: 0;
		list-style: none;
		li
		{
			float: right;
			margin: 0;
			padding: 5px;
		}
		span
		{
			line-height: 0; 
			display: inline-block;
		}
	}

	.access
	{
		border-width: 1px;
		border-style: solid;
	}
	
	.access_public
	{
		border-color: fadeout(green, 50%);
	}
	.access_private
	{
		border-color: fadeout(red, 50%);
	}
	.access_protected
	{
		border-color: fadeout(orange, 50%);
	}
	
	.access_magic
	{
		border-color: fadeout(blue, 50%);
	}
	
	.syntax
	{
		{OU_Debug_Colorize::$COLORIZE_TEXT}
		.var { {OU_Debug_Colorize::$COLORIZE_VAR} }
		.number{ {OU_Debug_Colorize::$COLORIZE_NUMBER} }
		.key { {OU_Debug_Colorize::$COLORIZE_KEYWORD} }
		.string { {OU_Debug_Colorize::$COLORIZE_STRING} }
		.type { {OU_Debug_Colorize::$COLORIZE_CLASS} }
		.type a{
			color: inherit;
			&:hover
			{
				text-decoration: underline;
			}
		}
		.symbol{ {OU_Debug_Colorize::$COLORIZE_SYMBOL} }
	}
	
	#org_chart
	{
		max-height: 700px;
		
		.org_chart_item,
		.org_chart_item
		{
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			max-width: 100px;
			border: 1px solid #DDDDDD;
			border-radius: 2px;
			box-shadow: rgba(0, 0, 0, 0.06) 1px 1px 1px;
			&.org_chart_item_selected
			{
				border-color: #5C5C5C;
				background: #DDDDDD;
			}
			
		}
		.google-visualization-orgchart-lineright,
		.google-visualization-orgchart-linetop,
		.google-visualization-orgchart-lineleft,
		.google-visualization-orgchart-linebottom
		{
			border-color: #79C4FF;
		}
	}

	@media (max-width: 480px){
		.page-sidebar{
			display: none;
		}
		.page.with-sidebar .page-region
		{
			margin-left: 0;
		}
	}
	@media (max-width: 767px){
		.page-sidebar{
			display: none;
		}
		.page.with-sidebar .page-region
		{
			margin-left: 0;
		}
	}
	
	
	.result_error
	{
		.result_error_msg
		{
			color: #D16363;
		}
		.result_error_file
		{
			font-style: italic;
		}
	}