.page {
  width: 940px ;
  margin: auto;
  background-color: #fff;
}
.browsers-icons img {
  float: left;
  margin-right: 20px;
}
#brand-name {
  line-height: 24px;
  margin-top: 2px;
}
hr {
  border: 0;
  border-bottom: 1px #ddd dotted;
  color: #ddd;
  background-color: #ddd;
}
#social {
  margin-bottom: 90px;
}
#shareme .box {
  margin: 5% 8% 0 8%;
  width: 100%;
  clear: both;
}
#shareme .box a {
  color: #404040;
  text-shadow: 0 1px 1px rgba(167, 167, 167, 0.4);
}
#shareme .box a:hover {
  text-decoration: none;
}
#shareme .count {
  font-weight: bold;
  font-size: 50px;
  float: left;
  border-right: 2px solid #57b8d1;
  line-height: 40px;
  padding-right: 10px;
}
#shareme .share {
  float: left;
  margin-left: 10px;
  font-size: 20px;
  width: 82px;
}
#shareme .buttons {
  position: absolute;
  width: 294px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  height: 100px;
}
#shareme .button {
  float: left;
  max-width: 50px;
  min-width: 10px;
  margin: 0 15px 0 0;
  background-color: transparent;
}
#shareme .facebook {
  margin: 0 4px 0 0;
}
@media (min-width: 768px) and (max-width: 979px) {
  .page {
    width: 724px;
  }
  .hero-unit > img {
    zoom: .6;
  }
  .browsers-icons img {
    zoom: .8;
  }
}
@media (max-width: 767px) {
  .page {
    width: 100%;
  }
  .hero-unit > img {
    zoom: .6;
  }
  .modern-ui-logo {
    width: 24px;
    height: 24px;
  }
  .github-info {
    margin-top: 5px;
  }
  a,
  .link {
    font-size: 9pt;
  }
  h3 {
    line-height: 11px;
  }
}
@media (max-width: 480px) {
  .hero-unit img {
    display: none;
  }
  #jetbrains {
    display: none;
  }
  #brand-name {
    display: none;
  }
}
