/*
Icon Set:	Broccolidry -- http://dribbble.com/shots/587469-Free-16px-Broccolidryiconsaniconsetitisfullof-icons
License:	Aribitrary -- http://licence.visualidiot.com/


Icon Set:	Meteocons -- http://www.alessioatzeni.com/meteocons/
License:	Arbitrary -- http://www.alessioatzeni.com/meteocons/#about


Icon Set:	IcoMoon - Free -- http://keyamoon.com/icomoon/
License:	CC BY-SA 3.0 -- http://creativecommons.org/licenses/by-sa/3.0/
*/
@font-face {
  font-family: 'iconFont';
  src: url('../fonts/iconFont.eot');
  src: url('../fonts/iconFont.eot?#iefix') format('embedded-opentype'), url('../fonts/iconFont.svg#iconFont') format('svg'), url('../fonts/iconFont.woff') format('woff'), url('../fonts/iconFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'iconFont';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'iconFont';
  font-style: normal;
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
.icon-home:before {
  content: "\21";
}
.icon-newspaper:before {
  content: "\23";
}
.icon-pencil:before {
  content: "\24";
}
.icon-droplet:before {
  content: "\26";
}
.icon-pictures:before {
  content: "\27";
}
.icon-camera:before {
  content: "\29";
}
.icon-music:before {
  content: "\2a";
}
.icon-film:before {
  content: "\2c";
}
.icon-camera-2:before {
  content: "\2d";
}
.icon-spades:before {
  content: "\2e";
}
.icon-clubs:before {
  content: "\2f";
}
.icon-diamonds:before {
  content: "\30";
}
.icon-broadcast:before {
  content: "\31";
}
.icon-mic:before {
  content: "\32";
}
.icon-book:before {
  content: "\33";
}
.icon-file:before {
  content: "\35";
}
.icon-new:before {
  content: "\36";
}
.icon-copy:before {
  content: "\37";
}
.icon-folder:before {
  content: "\38";
}
.icon-folder-2:before {
  content: "\39";
}
.icon-tag:before {
  content: "\3a";
}
.icon-cart:before {
  content: "\3b";
}
.icon-basket:before {
  content: "\3c";
}
.icon-calculate:before {
  content: "\3d";
}
.icon-support:before {
  content: "\3e";
}
.icon-phone:before {
  content: "\3f";
}
.icon-mail:before {
  content: "\40";
}
.icon-location:before {
  content: "\41";
}
.icon-compass:before {
  content: "\42";
}
.icon-history:before {
  content: "\43";
}
.icon-clock:before {
  content: "\44";
}
.icon-bell:before {
  content: "\45";
}
.icon-calendar:before {
  content: "\46";
}
.icon-printer:before {
  content: "\47";
}
.icon-mouse:before {
  content: "\48";
}
.icon-screen:before {
  content: "\49";
}
.icon-laptop:before {
  content: "\4a";
}
.icon-mobile:before {
  content: "\4b";
}
.icon-cabinet:before {
  content: "\4c";
}
.icon-drawer:before {
  content: "\4d";
}
.icon-drawer-2:before {
  content: "\4e";
}
.icon-box:before {
  content: "\4f";
}
.icon-box-add:before {
  content: "\50";
}
.icon-box-remove:before {
  content: "\51";
}
.icon-download:before {
  content: "\52";
}
.icon-upload:before {
  content: "\53";
}
.icon-database:before {
  content: "\54";
}
.icon-flip:before {
  content: "\55";
}
.icon-flip-2:before {
  content: "\56";
}
.icon-undo:before {
  content: "\57";
}
.icon-redo:before {
  content: "\58";
}
.icon-forward:before {
  content: "\59";
}
.icon-reply:before {
  content: "\5a";
}
.icon-reply-2:before {
  content: "\5b";
}
.icon-comments:before {
  content: "\5c";
}
.icon-comments-2:before {
  content: "\5d";
}
.icon-comments-3:before {
  content: "\5e";
}
.icon-comments-4:before {
  content: "\5f";
}
.icon-comments-5:before {
  content: "\60";
}
.icon-user:before {
  content: "\61";
}
.icon-user-2:before {
  content: "\62";
}
.icon-user-3:before {
  content: "\63";
}
.icon-busy:before {
  content: "\64";
}
.icon-loading:before {
  content: "\65";
}
.icon-loading-2:before {
  content: "\66";
}
.icon-search:before {
  content: "\67";
}
.icon-zoom-in:before {
  content: "\68";
}
.icon-zoom-out:before {
  content: "\69";
}
.icon-key:before {
  content: "\6a";
}
.icon-key-2:before {
  content: "\6b";
}
.icon-locked:before {
  content: "\6c";
}
.icon-unlocked:before {
  content: "\6d";
}
.icon-wrench:before {
  content: "\6e";
}
.icon-equalizer:before {
  content: "\6f";
}
.icon-cog:before {
  content: "\70";
}
.icon-pie:before {
  content: "\71";
}
.icon-bars:before {
  content: "\72";
}
.icon-stats-up:before {
  content: "\73";
}
.icon-gift:before {
  content: "\74";
}
.icon-trophy:before {
  content: "\75";
}
.icon-diamond:before {
  content: "\76";
}
.icon-coffee:before {
  content: "\77";
}
.icon-rocket:before {
  content: "\78";
}
.icon-meter-slow:before {
  content: "\79";
}
.icon-meter-medium:before {
  content: "\7a";
}
.icon-meter-fast:before {
  content: "\7b";
}
.icon-dashboard:before {
  content: "\7c";
}
.icon-fire:before {
  content: "\7d";
}
.icon-lab:before {
  content: "\e000";
}
.icon-remove:before {
  content: "\e003";
}
.icon-briefcase:before {
  content: "\e004";
}
.icon-briefcase-2:before {
  content: "\e005";
}
.icon-cars:before {
  content: "\e006";
}
.icon-bus:before {
  content: "\e007";
}
.icon-cube:before {
  content: "\e008";
}
.icon-cube-2:before {
  content: "\e009";
}
.icon-puzzle:before {
  content: "\e00a";
}
.icon-glasses:before {
  content: "\e00b";
}
.icon-glasses-2:before {
  content: "\e00c";
}
.icon-accessibility:before {
  content: "\e00d";
}
.icon-accessibility-2:before {
  content: "\e00e";
}
.icon-target:before {
  content: "\e00f";
}
.icon-target-2:before {
  content: "\e010";
}
.icon-lightning:before {
  content: "\e011";
}
.icon-power:before {
  content: "\e012";
}
.icon-power-2:before {
  content: "\e013";
}
.icon-clipboard:before {
  content: "\e014";
}
.icon-clipboard-2:before {
  content: "\e015";
}
.icon-playlist:before {
  content: "\e016";
}
.icon-grid-view:before {
  content: "\e017";
}
.icon-tree-view:before {
  content: "\e018";
}
.icon-cloud:before {
  content: "\e019";
}
.icon-cloud-2:before {
  content: "\e01a";
}
.icon-download-2:before {
  content: "\e01b";
}
.icon-upload-2:before {
  content: "\e01c";
}
.icon-upload-3:before {
  content: "\e01d";
}
.icon-link:before {
  content: "\e01e";
}
.icon-link-2:before {
  content: "\e01f";
}
.icon-flag:before {
  content: "\e020";
}
.icon-flag-2:before {
  content: "\e021";
}
.icon-attachment:before {
  content: "\e022";
}
.icon-eye:before {
  content: "\e024";
}
.icon-bookmark:before {
  content: "\e025";
}
.icon-bookmark-2:before {
  content: "\e026";
}
.icon-star:before {
  content: "\e027";
}
.icon-star-2:before {
  content: "\e028";
}
.icon-star-3:before {
  content: "\e029";
}
.icon-heart:before {
  content: "\e02a";
}
.icon-heart-2:before {
  content: "\e02b";
}
.icon-thumbs-up:before {
  content: "\e02c";
}
.icon-thumbs-down:before {
  content: "\e02d";
}
.icon-plus:before {
  content: "\e031";
}
.icon-minus:before {
  content: "\e032";
}
.icon-help:before {
  content: "\e033";
}
.icon-help-2:before {
  content: "\e034";
}
.icon-blocked:before {
  content: "\e035";
}
.icon-cancel:before {
  content: "\e036";
}
.icon-cancel-2:before {
  content: "\e037";
}
.icon-checkmark:before {
  content: "\e038";
}
.icon-minus-2:before {
  content: "\e039";
}
.icon-plus-2:before {
  content: "\e03a";
}
.icon-enter:before {
  content: "\e03b";
}
.icon-exit:before {
  content: "\e03c";
}
.icon-loop:before {
  content: "\e03d";
}
.icon-arrow-up-left:before {
  content: "\e04e";
}
.icon-arrow-up:before {
  content: "\e04f";
}
.icon-arrow-up-right:before {
  content: "\e050";
}
.icon-arrow-right:before {
  content: "\e051";
}
.icon-arrow-down-right:before {
  content: "\e052";
}
.icon-arrow-down:before {
  content: "\e053";
}
.icon-arrow-down-left:before {
  content: "\e054";
}
.icon-arrow-left:before {
  content: "\e055";
}
.icon-arrow-up-2:before {
  content: "\e05a";
}
.icon-arrow-right-2:before {
  content: "\e05b";
}
.icon-arrow-down-2:before {
  content: "\e05c";
}
.icon-arrow-left-2:before {
  content: "\e05d";
}
.icon-arrow-up-3:before {
  content: "\e05e";
}
.icon-arrow-right-3:before {
  content: "\e05f";
}
.icon-arrow-down-3:before {
  content: "\e060";
}
.icon-arrow-left-3:before {
  content: "\e061";
}
.icon-menu:before {
  content: "\e062";
}
.icon-enter-2:before {
  content: "\e063";
}
.icon-backspace:before {
  content: "\e064";
}
.icon-backspace-2:before {
  content: "\e065";
}
.icon-tab:before {
  content: "\e066";
}
.icon-tab-2:before {
  content: "\e067";
}
.icon-checkbox:before {
  content: "\e068";
}
.icon-checkbox-unchecked:before {
  content: "\e069";
}
.icon-checkbox-partial:before {
  content: "\e06a";
}
.icon-radio-checked:before {
  content: "\e06b";
}
.icon-radio-unchecked:before {
  content: "\e06c";
}
.icon-font:before {
  content: "\e06d";
}
.icon-paragraph-left:before {
  content: "\e06e";
}
.icon-paragraph-center:before {
  content: "\e06f";
}
.icon-paragraph-right:before {
  content: "\e070";
}
.icon-paragraph-justify:before {
  content: "\e071";
}
.icon-left-to-right:before {
  content: "\e072";
}
.icon-right-to-left:before {
  content: "\e073";
}
.icon-share:before {
  content: "\e074";
}
.icon-new-tab:before {
  content: "\e075";
}
.icon-new-tab-2:before {
  content: "\e076";
}
.icon-embed:before {
  content: "\e077";
}
.icon-code:before {
  content: "\e078";
}
.icon-bluetooth:before {
  content: "\e079";
}
.icon-share-2:before {
  content: "\e07a";
}
.icon-share-3:before {
  content: "\e07b";
}
.icon-mail-2:before {
  content: "\e07d";
}
.icon-google:before {
  content: "\e07f";
}
.icon-google-plus:before {
  content: "\e080";
}
.icon-google-drive:before {
  content: "\e084";
}
.icon-facebook:before {
  content: "\e085";
}
.icon-instagram:before {
  content: "\e088";
}
.icon-twitter:before {
  content: "\e089";
}
.icon-feed:before {
  content: "\e08c";
}
.icon-youtube:before {
  content: "\e090";
}
.icon-vimeo:before {
  content: "\e091";
}
.icon-flickr:before {
  content: "\e093";
}
.icon-picassa:before {
  content: "\e096";
}
.icon-dribbble:before {
  content: "\e098";
}
.icon-deviantart:before {
  content: "\e09d";
}
.icon-github:before {
  content: "\e09f";
}
.icon-github-2:before {
  content: "\e0a0";
}
.icon-github-3:before {
  content: "\e0a1";
}
.icon-github-4:before {
  content: "\e0a2";
}
.icon-github-5:before {
  content: "\e0a3";
}
.icon-git:before {
  content: "\e0a5";
}
.icon-github-6:before {
  content: "\e0a6";
}
.icon-wordpress:before {
  content: "\e0a7";
}
.icon-joomla:before {
  content: "\e0a9";
}
.icon-blogger:before {
  content: "\e0aa";
}
.icon-tumblr:before {
  content: "\e0ac";
}
.icon-yahoo:before {
  content: "\e0ae";
}
.icon-amazon:before {
  content: "\e0b0";
}
.icon-tux:before {
  content: "\e0b2";
}
.icon-apple:before {
  content: "\e0b3";
}
.icon-finder:before {
  content: "\e0b4";
}
.icon-android:before {
  content: "\e0b5";
}
.icon-windows:before {
  content: "\e0b6";
}
.icon-soundcloud:before {
  content: "\e0b7";
}
.icon-skype:before {
  content: "\e0b9";
}
.icon-reddit:before {
  content: "\e0ba";
}
.icon-linkedin:before {
  content: "\e0bb";
}
.icon-lastfm:before {
  content: "\e0bd";
}
.icon-delicious:before {
  content: "\e0bf";
}
.icon-stumbleupon:before {
  content: "\e0c0";
}
.icon-pinterest:before {
  content: "\e0c2";
}
.icon-xing:before {
  content: "\e0c5";
}
.icon-flattr:before {
  content: "\e0c6";
}
.icon-foursquare:before {
  content: "\e0c8";
}
.icon-paypal:before {
  content: "\e0c9";
}
.icon-yelp:before {
  content: "\e0cc";
}
.icon-libreoffice:before {
  content: "\e0cd";
}
.icon-file-pdf:before {
  content: "\e0ce";
}
.icon-file-openoffice:before {
  content: "\e0cf";
}
.icon-file-word:before {
  content: "\e0d0";
}
.icon-file-excel:before {
  content: "\e0d1";
}
.icon-file-powerpoint:before {
  content: "\e0d2";
}
.icon-file-zip:before {
  content: "\e0d3";
}
.icon-file-xml:before {
  content: "\e0d4";
}
.icon-file-css:before {
  content: "\e0d5";
}
.icon-html5:before {
  content: "\e0d6";
}
.icon-html5-2:before {
  content: "\e0d7";
}
.icon-css3:before {
  content: "\e0d8";
}
.icon-chrome:before {
  content: "\e0d9";
}
.icon-firefox:before {
  content: "\e0da";
}
.icon-IE:before {
  content: "\e0db";
}
.icon-opera:before {
  content: "\e0dc";
}
.icon-safari:before {
  content: "\e0dd";
}
.icon-IcoMoon:before {
  content: "\e0de";
}
.icon-sunrise:before {
  content: "\7e";
}
.icon-sun:before {
  content: "\e0df";
}
.icon-moon:before {
  content: "\e0e0";
}
.icon-sun-2:before {
  content: "\e0e1";
}
.icon-windy:before {
  content: "\e0e2";
}
.icon-wind:before {
  content: "\e0e3";
}
.icon-snowflake:before {
  content: "\e0e4";
}
.icon-cloudy:before {
  content: "\e0e5";
}
.icon-cloud-3:before {
  content: "\e0e6";
}
.icon-weather:before {
  content: "\e0e7";
}
.icon-weather-2:before {
  content: "\e0e8";
}
.icon-weather-3:before {
  content: "\e0e9";
}
.icon-lines:before {
  content: "\e0ea";
}
.icon-cloud-4:before {
  content: "\e0eb";
}
.icon-lightning-2:before {
  content: "\e0ec";
}
.icon-lightning-3:before {
  content: "\e0ed";
}
.icon-rainy:before {
  content: "\e0ee";
}
.icon-rainy-2:before {
  content: "\e0ef";
}
.icon-windy-2:before {
  content: "\e0f0";
}
.icon-windy-3:before {
  content: "\e0f1";
}
.icon-snowy:before {
  content: "\e0f2";
}
.icon-snowy-2:before {
  content: "\e0f3";
}
.icon-snowy-3:before {
  content: "\e0f4";
}
.icon-weather-4:before {
  content: "\e0f5";
}
.icon-cloudy-2:before {
  content: "\e0f6";
}
.icon-cloud-5:before {
  content: "\e0f7";
}
.icon-lightning-4:before {
  content: "\e0f8";
}
.icon-sun-3:before {
  content: "\e0f9";
}
.icon-moon-2:before {
  content: "\e0fa";
}
.icon-cloudy-3:before {
  content: "\e0fb";
}
.icon-cloud-6:before {
  content: "\e0fc";
}
.icon-cloud-7:before {
  content: "\e0fd";
}
.icon-lightning-5:before {
  content: "\e0fe";
}
.icon-rainy-3:before {
  content: "\e0ff";
}
.icon-rainy-4:before {
  content: "\e100";
}
.icon-windy-4:before {
  content: "\e101";
}
.icon-windy-5:before {
  content: "\e102";
}
.icon-snowy-4:before {
  content: "\e103";
}
.icon-snowy-5:before {
  content: "\e104";
}
.icon-weather-5:before {
  content: "\e105";
}
.icon-cloudy-4:before {
  content: "\e106";
}
.icon-lightning-6:before {
  content: "\e107";
}
.icon-thermometer:before {
  content: "\e108";
}
.icon-compass-2:before {
  content: "\e109";
}
.icon-none:before {
  content: "\e10a";
}
.icon-Celsius:before {
  content: "\e10b";
}
.icon-Fahrenheit:before {
  content: "\e10c";
}
.icon-forrst:before {
  content: "\e09b";
}
.icon-headphones:before {
  content: "\e002";
}
.icon-bug:before {
  content: "\e03e";
}
.icon-cart-2:before {
  content: "\e03f";
}
.icon-earth:before {
  content: "\e040";
}
.icon-battery:before {
  content: "\e041";
}
.icon-list:before {
  content: "\e042";
}
.icon-grid:before {
  content: "\e043";
}
.icon-alarm:before {
  content: "\e044";
}
.icon-location-2:before {
  content: "\e045";
}
.icon-pointer:before {
  content: "\e046";
}
.icon-diary:before {
  content: "\e047";
}
.icon-eye-2:before {
  content: "\e048";
}
.icon-console:before {
  content: "\e001";
}
.icon-location-3:before {
  content: "\e023";
}
.icon-move:before {
  content: "\e02e";
}
.icon-gift-2:before {
  content: "\e02f";
}
.icon-monitor:before {
  content: "\e030";
}
.icon-mobile-2:before {
  content: "\e049";
}
.icon-switch:before {
  content: "\e04a";
}
.icon-star-4:before {
  content: "\e04b";
}
.icon-address-book:before {
  content: "\e056";
}
.icon-shit:before {
  content: "\e057";
}
.icon-cone:before {
  content: "\e058";
}
.icon-credit-card:before {
  content: "\e059";
}
.icon-type:before {
  content: "\e04c";
}
.icon-volume:before {
  content: "\e04d";
}
.icon-volume-2:before {
  content: "\e07c";
}
.icon-locked-2:before {
  content: "\e07e";
}
.icon-warning:before {
  content: "\e081";
}
.icon-info:before {
  content: "\e082";
}
.icon-filter:before {
  content: "\e083";
}
.icon-bookmark-3:before {
  content: "\e086";
}
.icon-bookmark-4:before {
  content: "\e087";
}
.icon-stats:before {
  content: "\e08a";
}
.icon-compass-3:before {
  content: "\e08b";
}
.icon-keyboard:before {
  content: "\e08d";
}
