/*
 * Metro UI CSS
 * Copyright 2012 Sergey Pimenov
 * Licensed under the MIT Lilcense
 *
 * responsive.less
 */

/* Landscape phones and down */

@media (max-width: 480px) {
	
	.modern-ui-logo, .metro-ui-logo {
		margin-top: 0;
	}
	
    .page.secondary {
        .page-back {
            width: 24px;
            height: 24px;
            left: 0px !important;
        }

        .page-header .page-header-content {
            height: 60px;
            min-height: 50px;

            h1 {
                left: 40px;

            }
        }
        .page-region .page-region-content {
            padding-left: 0 ;
        }
    }

    .page.fixed-header {
        .page-header {
            position: relative !important;

            .page-header-content {
                .user-login {
                    float: right;
                    margin: 35px 44px 0 0;
                    cursor: pointer;

                    .avatar {
                        float: right;
                        border: 1px #ccc solid;
                        width: 40px;
                        height: 40px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .name {
                        float: left;
                        margin: 0px 10px;
                        text-align: right;

                        .first-name {
                            font-family: "Segoe UI Light", "Open Sans", sans-serif, sans;
                            font-size: 14pt;
                            display: block;
                            margin: 0;
                        }
                        .last-name {
                            font-family: "Open Sans", sans-serif, sans;
                            font-size: 8pt;
                            display: block;
                            margin: 0;
                        }
                    }
                }

                h1 {
                    left: 0;
                }
            }
        }
        .page-region {
            padding-top: 20px;
        }
    }
    .horizontal-menu {
        height: auto;

        & > ul {
            width: 100%;
            display: block;
            height: auto;

            & > li {
                width: 100%;
                float: none;
                display: block;
                position: relative;
                border-bottom: 1px #1e1e1e solid;

                &:last-child {
                    border-bottom: 1px transparent solid;
                }

                a {
                    width: 100%;
                    float: none;
                }
            }


            li ul {
                position: relative;
                width: 100%;
                border: 0;
                left: 10px;
            }

        }
    }

    table {
        thead {
            tr {
                th {
                    font-size: 8pt;
                }
            }
        }

        tbody {
            tr {
                td {
                    font-size: 9pt;
                    padding: 2px 5px;
                }
            }
        }
    }

    h1 {font-size: 26pt; line-height: 18px;}
    h2 {font-size: 16pt; line-height: 16px;}
    h3 {font-size: 13pt; line-height: 16px;}
    h3 {font-size: 13pt; line-height: 14px;}

    .tile-group {
        max-width: 400px;
        float: none;
    }

}
