/*
 * Metro UI CSS
 * Copyright 2012 Sergey Pimenov
 * Licensed under the MIT Lilcense
 *
 * responsive.less
 */
/* Large desktop */
@media (min-width: 980px) {
  .navigation-bar .navigation-bar-inner .menu-pull {
    display: none;
  }
  .navigation-bar .navigation-bar-inner > ul {
    display: block !important;
  }
}
