/*
 * Metro UI CSS
 * Copyright 2012 Sergey Pimenov
 * Licensed under the MIT Lilcense
 *
 * Routines.less
 */

.place-left {float: left !important; margin-right: 10px;}
.place-right {float: right !important; margin-left: 10px;}

.scroll-y, .scroll-vertical {
    overflow-y: scroll;
}
.scroll-x, .scroll-horizontal {
    overflow-x: scroll;
}

.pos-rel {position: relative;}
.pos-abs {position: absolute;}
.pos-fix {position: fixed;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}
.text-justify {text-align: justify;}

.top-left {
    position: absolute;
    top: 0;
    left: 0;
}
.top-right {
    position: absolute;
    top: 0;
    right: 0;
}
.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}
.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.no-overflow {overflow: hidden;}
.no-display {display: none;}
.as-block {display: block; float: none !important;}
.as-inline-block {display: inline-block;}

.nlm {margin-left: 0 !important;}
.nrm {margin-right: 0 !important;}

.clearfix {
    zoom: 1;
    &:before,
    &:after {
        display: table;
        content: "";
    }
    &:after {
        clear: both;
    }
}

.padding5 {padding: 5px 5px 5px 5px;}
.padding10 {padding: 10px;}
.padding15 {padding: 15px;}
.padding20 {padding: 20px 20px 10px;}
.padding30 {padding: 30px;}
.padding40 {padding: 40px;}
.padding80 {padding: 80px;}

.selected {
    border: 4px @blue solid;

    &:after {
        width: 0;
        height: 0;
        border-top: 40px solid @blue;
        border-left: 40px solid transparent;
        position: absolute;
        display: block;
        right: 0;
        content:".";
        top: 0;
        z-index: 1000;
    }

    &:before {
        position: absolute;
        content: "\2714";
        color: #fff;
        right: 5px;
        font-family: Tahoma;
        z-index: 2000;
    }
}

// Transformations
.rotate(@degrees) {
    -webkit-transform: rotate(@degrees);
    -moz-transform: rotate(@degrees);
    -ms-transform: rotate(@degrees);
    -o-transform: rotate(@degrees);
    transform: rotate(@degrees);
}
.scale(@ratio) {
    -webkit-transform: scale(@ratio);
    -moz-transform: scale(@ratio);
    -ms-transform: scale(@ratio);
    -o-transform: scale(@ratio);
    transform: scale(@ratio);
}
.translate(@x: 0, @y: 0) {
    -webkit-transform: translate(@x, @y);
    -moz-transform: translate(@x, @y);
    -ms-transform: translate(@x, @y);
    -o-transform: translate(@x, @y);
    transform: translate(@x, @y);
}
.skew(@x: 0, @y: 0) {
    -webkit-transform: skew(@x, @y);
    -moz-transform: skew(@x, @y);
    -ms-transform: skew(@x, @y);
    -o-transform: skew(@x, @y);
    transform: skew(@x, @y);
}
.translate3d(@x: 0, @y: 0, @z: 0) {
    -webkit-transform: translate(@x, @y, @z);
    -moz-transform: translate(@x, @y, @z);
    -ms-transform: translate(@x, @y, @z);
    -o-transform: translate(@x, @y, @z);
    transform: translate(@x, @y, @z);
}