/*
 * Metro UI CSS
 * Copyright 2012 Sergey Pimenov
 * Licensed under the MIT Lilcense
 *
 * Slider.less
 *
 */
.slider {
  height: 12px;
  width: auto;
  position: relative;
  background-color: #c6c6c6;
  margin-bottom: 10px;
}
.slider .marker {
  height: 12px;
  width: 12px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  z-index: 3;
}
.slider .complete {
  height: 100%;
  width: auto;
  background-color: #00828b;
  z-index: 2;
}
.slider.vertical {
  height: auto;
  width: 12px;
}
.slider.vertical .complete {
  position: absolute;
  height: auto;
  width: 12px;
  bottom: 0;
}
.slider:hover .complete {
  background-color: #219297;
}
.slider:active .complete,
.slider:active + .marker:active .complete {
  background-color: #25bbc4;
}
