
	<ou:register name="page">
		
		<!DOCTYPE html>
		<html class="blue ">
		
		<head>
		
			<title>{if isset($title) && $title}{strip_tags($title)} - {/if} OU Framework Docs</title>
			<ou:js file="ext/jquery/1.8.3.js" />
			<ou:css file="main.css" />
			<ou:css file="docs.css" />
			<ou:js file="main.js" />
		
			<meta charset="utf8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
			<ou:part_content name="head" />
		
		</head>
		
		<body>
		
		 	<div class="page {if !isset($secondary) || $secondary} secondary{/if}">
		 	
		 		<ou:menu>
		 			<ou:part_content name="menu" />
				</ou:menu>
				
				{assign var="sidebar" value=(isset($parts.sidebar) && $parts.sidebar)}
				
				<div class="page {if $sidebar}with-sidebar{/if}">
				
					{if $sidebar}
				    	{if isset($title) && $title}
				    		<div class="page-header">
				    			<div class="page-header-content">
									<h1>{$title}</h1>
									{if isset($back) && $back}
										<a href="{$back}" class="back-button big page-back" style="position: absolute; z-index: 2"></a>
									{/if}
								</div>
				    		</div>
				    	{/if}
						<div class="page-sidebar">
							<ou:part_content name="sidebar" />
						</div>
					{else}
						{if isset($title) && $title}
							<h1>{$title}</h1>
						{/if}
						{if isset($back) && $back}
							<a href="{$back}" class="back-button big page-back" style="position: absolute; z-index: 2"></a>
						{/if}
					{/if}
					
					<div class="page-region">
			        	<div class="page-region-content">
					        <ou:part_content name="messages" />
					        <ou:content />
					    </div>
			        </div>
			       
			    </div>
				
				<div style="clear:both"></div>
				<div class="navigation-bar">
				    <div class="navigation-bar-inner bg-color-darken">
				        <ul style="display: block">
				            <li class="no-hover">
				            	OU Framework 2012 © by 
				            	<a class="fg-color-blueLight" href="//x-s.es">fontcolor</a>
				            </li>
				            <li class="no-hover" style="float:right">
				            	<div>Página generada en {number_format(microtime(true) - $pgtime, 6)} segundos</div>
				            </li>
				        </ul>
				        
				    </div>
				</div>
				
		    </div>
		    
		</body>
		
		</html>
	
	</ou:register>