
	.button
	{
		
		font-size: 12px;
		
		box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 3px;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 3px, inset rgba(255, 255, 255, 0.3) 0 0 0 1px;
		
		border: 1px solid #DADADA;
		border-radius: 4px;
		
		.user-select(none);
		.gradient(#dcdcdc, #dcdcdc);
		
		cursor: default;
		
		display: inline-block;
		padding: 5px;
		
		text-align: center;
		
		outline: none;
		position: relative;
		
		&:hover
		{
			.gradient(#AEBECF, #AEBECF);
			border-color: #8C9FB5;
		}
		
		&:active
		{
			box-shadow: 
				rgba(0, 0, 0, 0.25) 0px 1px 1px, 
				inset rgba(0, 0, 0, 0.1) 0px -2px 20px, 
				inset rgba(255, 255, 255, 0.3) 0 0 0 1px;
		}
		
		&:focus
		{
			&:after
			{
				@m : -1px;
				display: block;
				content : " ";
				position: absolute;
				left: @m;
				top: @m;
				right: @m;
				bottom: @m;
				border: 1px solid rgba(0, 134, 240, 0.5);	
				border-radius: 4px;		
			}
		}
		
	}