
	<ou:register name="test">
	{*
		{if !isset($t2)}
			{assign var="t3" value=microtime(true) scope="global"}
		{/if}
		{assign var="t1" value=microtime(true)}
		{if !isset($t2)}
			{assign var="t2" value=$t1 scope="global"}
		{/if}
		<script>console.log("{if isset($tag)}{$tag} {/if}{$t1 - $t3}");</script>
	*}
	</ou:register>